QTableView
{
  border-color: #ccc;
  font: 11px regular, sans-serif;
  
}
QHeaderView
{
  font: 13px regular, sans-serif;
  font-weight : normal;
}
QHeaderView:item:selected
{
  font: 13px regular, sans-serif;
  font-weight : normal;
}

QTableView::item:hover
{
  background-color: #ccc;
}
 
QTableView::item:selected
{
background-color: #27569C;

}
 